h1 {
    font-family: cursive;
    line-height: 2;
    font-size: 3rem;
    color: #66BFBF;
}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-family: cursive;
    font-size: 1.5rem;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}


body {
    text-align: center;
}

.top-container {
    background-color:#EAF6F6;
    position: relative;
    padding: 100px;

   
}

.middle-container {
}

.bottom-container {
}

.second-cloud {
    position:absolute;
    left: 300px;

}

.top-cloud {
    position: absolute;
    right: 200px;
}
.food-serving {
    width: 300px;
}

.chillies {
    width: 15%;
    float: left;
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
